.home-page {
  margin-left: 350px;
  padding: 35px;
}
.story-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  overflow: auto;
  border-radius: 6px;
  list-style-type: none;
}
.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 30px;
}
